.nav-link {
  list-style-type: none;
  text-transform: lowercase; }
  @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
    .nav-link {
      padding: 0 0.5rem; } }
  @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
    .nav-link {
      padding: 1rem 1rem 0 0rem; } }
  .nav-link a:hover {
    color: #fc21c6;
    transition: 0.5s;
    text-decoration: none; }

footer {
  grid-area: footer;
  position: fixed;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-right: 2rem; }
  @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
    footer {
      justify-content: flex-end; } }
  @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
    footer {
      justify-content: space-around; } }
  footer a {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: black; }
    footer a a:visited {
      color: black; }
    @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
      footer a {
        color: black;
        margin-left: 0.5rem; } }
    @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
      footer a {
        margin-top: 0.5rem; } }
  @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
    footer a:hover {
      color: #fc21c6;
      transition: 0.3s; } }

.hidden {
  display: none; }

@media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
  .right-padding {
    padding-right: 2rem; } }

.left-padding {
  padding-left: 2rem; }

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: black; }

h1 {
  font-family: "Noto Serif", serif;
  padding: 0;
  margin: 0; }
  @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
    h1 {
      font-size: 5rem; } }
  @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
    h1 {
      font-size: 3.4rem; } }

h2 {
  padding: 0;
  margin: 0;
  font-size: 1.4rem; }

h3 {
  font-size: 1.2rem;
  padding: 0;
  margin: 0; }

.nav-link {
  list-style-type: none;
  text-transform: lowercase; }
  @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
    .nav-link {
      padding: 0 0.5rem; } }
  @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
    .nav-link {
      padding: 1rem 1rem 0 0rem; } }
  .nav-link a:hover {
    color: #fc21c6;
    transition: 0.5s;
    text-decoration: none; }

footer {
  grid-area: footer;
  position: fixed;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-right: 2rem; }
  @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
    footer {
      justify-content: flex-end; } }
  @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
    footer {
      justify-content: space-around; } }
  footer a {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: black; }
    footer a a:visited {
      color: black; }
    @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
      footer a {
        color: black;
        margin-left: 0.5rem; } }
    @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
      footer a {
        margin-top: 0.5rem; } }
  @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
    footer a:hover {
      color: #fc21c6;
      transition: 0.3s; } }

.hidden {
  display: none; }

@media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
  .right-padding {
    padding-right: 2rem; } }

.left-padding {
  padding-left: 2rem; }

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: black; }

h1 {
  font-family: "Noto Serif", serif;
  padding: 0;
  margin: 0; }
  @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
    h1 {
      font-size: 5rem; } }
  @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
    h1 {
      font-size: 3.4rem; } }

h2 {
  padding: 0;
  margin: 0;
  font-size: 1.4rem; }

h3 {
  font-size: 1.2rem;
  padding: 0;
  margin: 0; }

.container {
  display: grid;
  grid-template: auto auto 1fr auto/ 10% 1fr 10%; }
  @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
    .container {
      grid-template-areas: "header header header" "lmargin nav rmargin" "lmargin content rmargin" "footer footer footer"; } }
  @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
    .container {
      grid-template-areas: "nav nav nav" "lmargin header rmargin" "lmargin content rmargin" "footer footer footer"; } }
  .container .header {
    grid-area: header;
    width: 100%;
    text-align: center; }
    @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
      .container .header {
        padding: 5rem 0; } }
    @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
      .container .header {
        margin: 2rem 0; } }
  .container .nav-bar {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    width: 100%; }
    @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
      .container .nav-bar {
        justify-content: center; } }
    @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
      .container .nav-bar {
        justify-content: flex-end; } }
  .container .blog-feed {
    grid-area: content; }
    @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
      .container .blog-feed {
        padding-bottom: 4rem; } }
    .container .blog-feed .blog-snippet {
      display: flex; }
      @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
        .container .blog-feed .blog-snippet {
          flex-direction: row;
          flex-wrap: wrap;
          padding: 1rem 0; } }
      @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
        .container .blog-feed .blog-snippet {
          flex-direction: column;
          padding-bottom: 1rem; } }
      .container .blog-feed .blog-snippet .blog-title {
        order: 1;
        flex: 1; }
        @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
          .container .blog-feed .blog-snippet .blog-title {
            color: #0be6c8; } }
        .container .blog-feed .blog-snippet .blog-title h2:hover {
          color: #0be6c8;
          transition: 0.3s; }
      .container .blog-feed .blog-snippet .blog-blurb-long {
        order: 2;
        width: 100%;
        flex: 3; }
        @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
          .container .blog-feed .blog-snippet .blog-blurb-long {
            display: none; } }
      .container .blog-feed .blog-snippet .blog-blurb-short {
        order: 2;
        width: 100%;
        flex: 2; }
        @media only screen and (orientation: portrait) and (min-device-width: 605px), only screen and (orientation: landscape) and (min-device-width: 605px) {
          .container .blog-feed .blog-snippet .blog-blurb-short {
            display: none; } }
      .container .blog-feed .blog-snippet time {
        color: #029ffa;
        font-size: 0.8rem;
        order: 3;
        width: 100%;
        text-align: right; }
  .container a {
    text-decoration: none;
    color: black; }
  .container footer {
    grid-area: footer; }
    @media only screen and (orientation: portrait) and (max-device-width: 604px), only screen and (orientation: landscape) and (max-device-width: 604px) {
      .container footer {
        background-color: white; } }
