<footer>
  <a href="https://github.com/ktweeden">
    <i class="fab fa-github"></i>
  </a>
  <a href="https://twitter.com/ktweeden">
    <i class="fab fa-twitter"></i>
  </a>
  <a href="https://www.instagram.com/kate_l_preston/">
    <i class="fab fa-instagram right-padding"></i>
  </a>
</footer>
