@import "_global_variables";
@import "_global_styles";
@import "_media_queries";


.content-container {
  display: grid;
  width: 100%;
  height: 100%;
  justify-content: center;

  @include mq-web-layout {
    grid-template: auto 1fr 10% /10% 40% 40% 10%;
    grid-template-areas:
      "lmargin title navigation rmargin"
      "lmargin content content rmargin"
      "footer footer footer footer";
  };

  @include mq-phone-layout {
    grid-template: auto auto 1fr 10% /10% 40% 40% 10%;
    grid-template-areas:
      "ltmargin ltmargin navigation rmargin"
      "lmargin title title rmargin"
      "lmargin content content rmargin"
      "footer footer footer footer";
  };

  .title {
    align-self: center;
    grid-area: title;

    @include mq-phone-layout {
      padding: 1rem $large-gap*2 0 $large-gap*2;
    };

    h2 {
      font-family: $header-font;
    }
  }

  .nav-bar {
    grid-area: navigation;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    align-self: center;

    a {
      text-decoration: none;
      color: $text-colour;
    }
  }

  .content {
    grid-area: content;
    padding: 0 $large-gap*2 $large-gap*2 $large-gap*2;

    .line {
      border: 1px dashed $accent-colour;
      width: 100%;
      margin: $large-gap 0;
    }

    a {
      text-decoration: none;
      color: $secondary-colour;
    }
  }

  @include mq-phone-layout {
    font-size: 2rem;
  };

  footer {
    grid-area: footer;
    @include mq-phone-layout {
      background-color: white;
    };
  }
}
