@import "_global_styles";
@import "_global_variables";



.container {
  display: grid;
  grid-template: auto auto 1fr auto/ 10% 1fr 10%;
  grid-template-areas:
    "header header header"
    "lmargin nav rmargin"
    "lmargin content rmargin"
    "footer footer footer";

   .header {
     grid-area: header;
     width: 100%;
     text-align: center;
     padding: $large-gap*2.5 0;
   }


  .main-navigation {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .blog-feed {
    grid-area: content;
  }
}
