@import "_global_variables";


//Page structure
.container {
  display: grid;
  grid-template: repeat(5, 1fr)/ repeat(5, 1fr);
  width: 100%;
  height: 100%;
  justify-items: center;
}

//header
 .header {
   grid-area: 1/ 1/ span 5/ span 5;

   h1 {
     color: $primary-colour;
   }
 }


//Navigation
.main-navigation {
  grid-area: 2/ 2/ span 1/ span 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.nav-link {
  list-style-type: none;
}

//Footer
footer {
  grid-area: 5/ 1/ span 1/ span 5;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  align-self: end;

  a {
    margin-left: $small-gap;
    font-size: 1.4rem;
  }

  a:visited {
    color: inherit;
  }
}


//Display
.hidden {
  display: none;
}



//Overriding defaults
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

a:visited {

}
