@import "_global_variables";


//Page structure
.container {
  display: grid;
  grid-template: 30% repeat(4, 1fr)/ 10% repeat(3, 1fr) 10%;
  width: 100%;
  height: 100%;
  justify-items: center;
}

//header
 .header {
   grid-area: 1/ 1/ span 5/ span 5;
 }


//Navigation
.main-navigation {
  grid-area: 2/ 2/ span 1/ span 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.nav-link {
  list-style-type: none;
  padding: 0 $small-gap;
  text-transform: lowercase;


  a:hover {
    color: $accent-colour;
    transition: 0.5s;
  }
}


//Footer
footer {
  grid-area: 5/ 2/ span 1/ span 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  align-self: end;

  a {
    margin-left: $small-gap;
    margin-bottom: $small-gap;
    font-size: 2rem;
  }

  a:hover {
    color: $accent-colour;
    transition: 0.3s;
  }

}


//Display
.hidden {
  display: none;
}



//Overriding defaults
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: $content-font;
  color: $text-colour;
}

h1 {
  font-size: 4.5rem;
  font-family: $header-font;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}
