
//Fonts
$header-font: "Noto Serif", serif;
$content-font: "Roboto", sans-serif;

//Colours
$accent-colour: rgb(252, 33, 198);
$primary-colour: rgb(2, 159, 250);
$secondary-colour: rgb(11, 230, 200);
$text-colour: black;


//Gaps
$small-gap: 0.5rem;
$medium-gap: 1rem;
$large-gap: 2rem;
