
//Fonts
$header-font: "Noto Serif", serif;
$content-font: "Roboto", sans-serif;

//Colours
$accent-colour: rgb(235, 94, 138);
$primary-colour: rgb(2, 159, 250);
$secondary-colour: rgb(71, 167, 154);
$text-colour: black;


//Gaps
$small-gap: 0.5rem;
$medium-gap: 1rem;
$large-gap: 2rem;
