<!DOCTYPE html>
<html>
  <head>

    {% include "./partials/_content_head.njk" %}
    <title>About Me</title>
    <meta name="description" content="Hello! I'm Kate Preston, a person living in Edinburgh with my husband and daughter.
    I am currently studying to be a developer at CodeClan. In the ten minutes I get inbetween work/studying and taking care of my little person,
    I enjoy cooking, eating, traveling, reading, knitting, and most of all, sleeping."

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="About Me">
    <meta name="twitter:description" content="Hello! I'm Kate Preston, a person living in Edinburgh with my husband and daughter.
    I am currently studying to be a developer at CodeClan. In the ten minutes I get inbetween work/studying and taking care of my little person,
    I enjoy cooking, eating, traveling, reading, knitting, and most of all, sleeping.">
    <meta name="twitter:creator" content="@ktweeden">

    <!-- Open Graph data -->
    <meta property="og:title" content="About Me" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.kate-preston.co.uk/about_me.html" />
    <meta property="og:description" content="Hello! I'm Kate Preston, a person living in Edinburgh with my husband and daughter.
    I am currently studying to be a developer at CodeClan. In the ten minutes I get inbetween work/studying and taking care of my little person,
    I enjoy cooking, eating, traveling, reading, knitting, and most of all, sleeping." />
    <meta property="og:site_name" content="kate-preston.co.uk" />

  </head>
  <body>
    <div class="content-container">
      <div class="title">
        <h2>About me</h2>
      </div>
      {% include "./partials/_navigation.njk" %}
      <div class="content small-content">
        <p>
          Hello! I'm Kate Preston, a person living in Edinburgh with my husband and daughter.
        </p>
        <p>
          I am currently studying to be a developer at <a href="https://www.CodeClan.com" target= "_blank">
          CodeClan</a>. In the ten minutes I get inbetween work/studying and taking care of my little person,
          I enjoy cooking, eating, traveling, reading, knitting, and most of all, sleeping.
        </p>
      </div>
      {% include "./partials/_footer.njk" %}
    </div>
  </body>
</html>
