<!DOCTYPE html>
<html>
  <head>

    {% include "./partials/_index_head.njk" %}

    <title>Kate Preston</title>
    <meta name="description" content="Thoughts about learning to program, Edinburgh,
    and anything else that takes my fancy."

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Kate Preston">
    <meta name="twitter:description" content="Thoughts about learning to program, Edinburgh,
    and anything else that takes my fancy.">
    <meta name="twitter:creator" content="@ktweeden">

    <!-- Open Graph data -->
    <meta property="og:title" content="Kate Preston" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.kate-preston.co.uk/" />
    <meta property="og:description" content="Thoughts about learning to program, Edinburgh,
    and anything else that takes my fancy." />
    <meta property="og:site_name" content="kate-preston.co.uk" />

  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Kate Preston</h1>
      </div>
      {% include "./partials/_navigation.njk" %}
      <div class="blog-feed">
        {% for blog in contentList %}
          <div class="blog-snippet">
            <a href="/{{blog.url}}.html" class="blog-title">
              <h2>
                {{blog.title}}
              </h2>
            </a>
            <a href="/{{blog.url}}.html" class="blog-blurb-long">
              {{blog.long_blurb}}
            </a>
            <a href="/{{blog.url}}.html" class="blog-blurb-short">
              {{blog.short_blurb}}</a>
            <time>
              {{blog.date}}
            </time>
          </div>
        {% endfor %}
      </div>
      {% include "./partials/_footer.njk" %}
    </div>
  </body>
</html>
