<!DOCTYPE html>
<html>
  <head>
    {% include "partials/_content_head.njk" %}
    {% for content in contentList %}
      {% if content.title == "Why This, Why Now?"%}
      <title>Why This, Why Now?</title>
      <meta name="description" content="{{content.short_blurb}}" />

      <!-- Twitter Card data -->
      <meta name="twitter:card" content="summary">
      <meta name="twitter:title" content="{{content.title}}">
      <meta name="twitter:description" content="{{content.long_blurb}}">
      <meta name="twitter:creator" content="@ktweeden">

      <!-- Open Graph data -->
      <meta property="og:title" content="{{content.title}}" />
      <meta property="og:type" content="article" />
      <meta property="og:url" content="http://www.kate-preston.co.uk/whynow.html" />
      <meta property="og:description" content="{{content.long_blurb}}" />
      <meta property="og:site_name" content="kate-preston.co.uk" />
    {% endif %}
  {% endfor %}
  </head>
  <body>
    <div class="content-container">
      <div class="title">
        <h2>Why this, why now?</h2>
      </div>
      {% include "./partials/_navigation.njk" %}
      <article class="content">
        <p>A year ago my day job involved listening to other people talk about
          all the reasons their current job was unsatisfying and why retraining
          as a software developer was the right move for them. For some people
          it was about job security, others wanted a job with more of a
          challenge, or more flexibility, or more money.</p>

        <p>I would have this conversation five times a day and it was never
          dull. I enjoyed hearing people's backstories, how the events of their
          lives led to this point, facing me, hoping to gain a place on the
          course I was interviewing them for. My job was to project forward:
          how will this person cope with the intensity of the course? What
          support might they need to find a job afterwards? Can we help them
          find a fulfilling career, that gives them something their experiences
          so far haven't?<p>

        <p>It doesn't take many days of asking others whether they're
          satisfied with their careers to turn that reflection on yourself. I
          enjoyed my job: the people were nice, the work was varied, and I was fairly
          autonomous. But, it didn't have a clear trajectory. I found it
          difficult to imagine where it might lead me in 10, 5 or even 2 years and
          some of the things I was hearing in that interview room started to
          resonate.</p>

        <div class="line"></div>

        <p>Myspace pretty much passed me by (although I'm not sure why, I was a
          teenager at the right time, and I was certainly emo enough&hellip;). The
          thrill of having what was essentially a tamagotchi(!) but on the
          internet(!!), however, was too much for me to ignore so I did have a
          neopets account. I remember taking notes on HTML from their handy
          guide, presumably in gel pens of various pastel shades, and spending
          hours getting my page just so.</p>

        <p>Since then, I have dabbled on and off with programming: a Udacity
          course here, a blog theme there. I've always sought out the most
          technical elements of decidedly un-technical jobs, weasiling my way
          into web admin roles, or taking on challenges that involved a little
          bit of scripting. About two years ago I also started spending large
          swathes of time learning how to program. I love both
          the big picture, design problems that development poses as well as
          the nitty, gritty, bang your head against the wall, oh god it was a
          typo all along problems.</p>

        <p>But, I have lots of hobbies. I knit but I don't want to create
          textiles full time. I cook but I don't want to be a chef. Although if
          there's a job out there where I can pursue my hobby of napping full
          time then I'm there. The reason I want to pursue software development
          is because of the sheer range of problems it gives me the potential to
          solve, or at least help solve. I'm passionate about a lot of things,
          and becoming a developer hopefully means that I will have a skillset
          that I can apply to any and all of these issues.</p>

        <p>As for the "why now" I'm going to be incredibly cliched and say,
          I had a baby. Maternity leave has given me a
          lot of time with my own thoughts, often at 2 in the morning. I want a
          career with more options, that doesn't involve endless sidestepping
          into roles that don't offer much in the way of developing my existing skillset.
          I've been lucky to love each job I've had individually, but I'm ready
          to start loving my career. And, most importantly, I want a career that
          justifies leaving my daughter in the care of others every day.</p>

        <div class="line"></div>

        <p>So, on the Monday I'm returning to <a href="https://www.codeclan.com" target= "_blank">
          CodeClan</a> after 9 months of maternity leave but this time as a
          student of Cohort 19.</p>

      </article>
      {% include "./partials/_footer.njk" %}
    </div>
  </body>
</html>
