<!DOCTYPE html>
<html>
  <head>
    {% include "partials/_content_head.njk" %}
    {% for content in contentList %}
      {% if content.title == "CodeClan Weeks 3-5: SQL, Ruby and Giving Myself Credit"%}
      <title>CodeClan Weeks 3-5</title>
      <meta name="description" content="{{content.short_blurb}}" />

      <!-- Twitter Card data -->
      <meta name="twitter:card" content="summary">
      <meta name="twitter:title" content="{{content.title}}">
      <meta name="twitter:description" content="{{content.long_blurb}}">
      <meta name="twitter:creator" content="@ktweeden">

      <!-- Open Graph data -->
      <meta property="og:title" content="{{content.title}}" />
      <meta property="og:type" content="article" />
      <meta property="og:url" content="http://www.kate-preston.co.uk/wk_3_4_5_review.html" />
      <meta property="og:description" content="{{content.long_blurb}}" />
      <meta property="og:site_name" content="kate-preston.co.uk" />
    {% endif %}
  {% endfor %}
  </head>
  <body>
    <div class="content-container">
      <div class="title">
        <h2>CodeClan Weeks 3-5: SQL, Ruby and Giving Myself Credit</h2>
      </div>
      {% include "./partials/_navigation.njk" %}
      <article class="content">
        <p>Over weeks three and four of my course at CodeClan we moved from
          things I felt comfortable with, loops and control flow, to things I
          felt sure I could learn, classes and object oriented programming, to
          things I didn't know enough about to even begin imagining how I might
          fare, SQL.</p>

        <p>I've enjoyed it all, but in particular I've found SQL much more fun
          to work with than I expected. I'm not sure why I was suspicious of it
          going in, perhaps because it was totally new. Or maybe because the
          word database doesn't sound particularly thrilling. It's actually
          really fun, in part because there's such instant gratification when
          you send a working query off request and get back the results you were
          hoping for.</p>

        <div class="line"></div>

        <p>As I mentioned in my previous post, I have a problem with pacing
          myself. Partly, it's a product of enjoying learning, programming, and
          learning about programming. However, the further I get into the course
          the more I've started to suspect that there's something more to my
          inability to switch off. More than once I've found myself reading
          until my head hurts and well beyond the point of enjoyment. I've
          decided that this part of my obsessiveness comes from a deep seated
          need to be the best.</p>

        <p>The thing is, this 'best' really has very little to do with anyone
          else's abilities: I'm not particularly interested in being better than
          anyone (shine theory, y'all). It has more to do with a nebulous
          standard that relates specifically to myself. It's one which changes
          daily and is, of course, always out of reach. Week five was project
          week, which unleashed the full force of this not so useful feeling. I
          had an image of where I wanted to get to in seven days and self
          flagellated when I thought I wasn't going to make it, without stopping
          to consider whether or not my plans were realistic in the first place.</p>

        <p>At the moment I simultaneously think I'm doing fairly well and also
          worry that I'm not doing as well as I should be. Who defined this
          'should be'? Not my instructors, not my classmates. Certainly not me.
          This 'should be', or 'best', it doesn't exist. Pacing myself turns
          out not to be a simple matter of taking a break, going for a walk,
          knitting a hat or playing a game. I think I'm going to have to figure
          out how to give myself some credit.</p>


      </article>
      {% include "./partials/_footer.njk" %}
    </div>
  </body>
</html>
